* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

header {
  opacity: 0.9;
  height: 65px;
  width: 100%;
  background-color: #4C4C4C;
  position :fixed;
  top: 0;
  z-index: 10;
  border-bottom: ridge 4px #E5E5E5;
}

#header-logo {
  color: #fff;
  text-shadow: 0 5px 5px #000;
  width: 12%;
  font-size: 42px;
  cursor: none;
}

.header-item {
  float: right;
  padding: 8px 15px;
  color: #ffffff;
  text-shadow: 1px 0 5px #000;
  font-size: 32px;
  cursor: pointer;
}

.header-item:hover {
  text-shadow:
    1px 0 0 #fff,
    0 1px 0 #fff,
    -1px 0 0 #fff,
    0 -1px 0 #fff;
  color: #4C4C4C;
}

.header-left {
  float: left;
}

main {
  height: 4000px;
  background-color: #000;
}

/**/
.login-modal-wrapper, .signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 38%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
/**/

.top-wrapper {
  height: 1000px;
  background-image: url(io-red-moon.png);
  background-size: cover;
}

.container {
  padding: 15% 0;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.container h1 {
  font-size: 70px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #999;
  cursor: pointer;
}

.signup:hover {
  background-color: #5dca88;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.fa {
  margin-right: 5px;
}

.web-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.web-wrapper h2 {
  color: #999;
  padding-bottom: 40px;
}

.web {
  float: left;
  width: 25%;
}

.site {
  color: #fff;
  font-size: 40px;
  padding: 0 20px;
}

.site:hover {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  text-shadow: 0 5px 5px #000;
  transition: 1s;
}

.text-contents {
  width: 100%;
  padding: 20px;
  font-size: 12px;
  color: #fff;
  display: none;
}

.text-active {
  display: block;
}

.websites2 {
  height: 300px;
  margin-top: 300px;
}

.web-group {
  display: flex;
}

.site2 {
  align-items: stretch;
  margin: 4% 0;
  width: 25%;
  font-size: 2em;
  color: #fff;
  margin-top: 60px;
  border-radius: 30px;
}

.site2:hover {
  background: radial-gradient(#fff, #000);
  background-color: #000;
  color: #000;
  transition: 0.5s;
}

footer {
  height: 400px;
  background-color: #CCC;
}
